


{% if page == 'register' %}
<div class="container">
   <br>
   <h4>Register</h4>
   <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
<div>
    {% for field in form %}
      {{field.label}}


      {{field}}

      {% for error in field.errors %}

      <small style="color: red;">{{error}}</small>

      {% endfor %}
      <br>


      {%endfor%}

   </div>
   
    <input type="submit" value="Register">
    <a href="{% url 'login' %}">Login</a>
   </form>
</div>
{% else %}

<br>
<div class="container">
<h4>Login</h4>
<form action="" method="POST">
    {% csrf_token %}
    <label for="">Username
    <input type="text" name="username">
   </label>

    <label for="">Password
    <input type="password" name="password">
   </label>
      
   
    <input type="submit" value="Login">  | 

   
   </form>
   <br>
   <p>   Don't have an account?  <a href="{% url 'register' %}">Sign up</a></p>

</div>
{%endif%}

